<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-ble-secret" version="1.0.0"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>BleSecret</name>
    <js-module name="BleSecret" src="www/secret.js">
        <clobbers target="window.plugins.secret" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="BleSecret">
                <param name="android-package" value="cordova.plugin.ble.secret.BleSecretPlugin" />
            </feature>
        </config-file><config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/BleSecretPlugin.java" target-dir="src/cordova/plugin/ble/secret" />
        <source-file src="src/android/BlePackage.java" target-dir="src/cordova/plugin/ble/secret" />
        <source-file src="jniLibs/arm64-v8a/libDataPackage.so" target-dir="libs/arm64-v8a" />
        <source-file src="jniLibs/armeabi/libDataPackage.so" target-dir="libs/armeabi" />
        <source-file src="jniLibs/armeabi-v7a/libDataPackage.so" target-dir="libs/armeabi-v7a" />
        <source-file src="jniLibs/mips/libDataPackage.so" target-dir="libs/mips" />
        <source-file src="jniLibs/mips64/libDataPackage.so" target-dir="libs/mips64" />
        <source-file src="jniLibs/x86/libDataPackage.so" target-dir="libs/x86" />
        <source-file src="jniLibs/x86_64/libDataPackage.so" target-dir="libs/x86_64" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
        <feature name="BleSecret"><param name="ios-package" value="BleSecret" />
        </feature></config-file><source-file src="src/ios/BleSecretPlugin.m" />
    </platform>
</plugin>